@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Manrope:wght@400;500;600;700;800&display=swap");

@import "tailwindcss";

@theme {
    --font-heading: "Manrope", sans-serif;
    --font-body: "Inter", sans-serif;
    --text-heading: "#004681";
    --text-primary: "2c2c2c";
    --text-secondary: "#F4F4F4";
}